/* --------------------------------------------------------------------
               	A CUCA
               	Media queries
          		Ge Ricci, 2024
-------------------------------------------------------------------- */


@media screen and (min-width: 500px) {
	div.intro {
		padding-left: 4.5rem;
	}
	div.intro::before {
		content: "";
		position: absolute;
		width: 50px;
		height: 50px;  
		top: 1rem;
		left: 1rem;
		background-image: url(../img/from-blog.svg);
		background-repeat: no-repeat;
	}
}


@media screen and (min-width: 900px) {
	main {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
		min-height: 900px;
	}
	
	section.entry:not(.intro) {
		padding: calc(0.5rem + 1vw) calc(1rem + 1vw) calc(1rem + 1vw);
	}

	aside {
		flex-direction: row;
	}

	section.dessert {
		grid-column: 1/ span 2;
	}	
	
	section.dessert .menu-block {
		display: grid;
		grid-template-columns: 1.5fr 1fr;
	}

	h1.active {
		position: fixed;
		right: 1vw;
		width: 139px;
	}
	h1.active > a.active {display: inline-block;}
	h1.active > :not(.active) {display: none;}	
}

@media screen and (min-width: 1000px) {
	div.h-group {
		display: grid;
		grid-template-columns: 1fr 1.5fr;
		gap: 0 3rem;
	}
	div.h-group p.published {
		grid-column: 1;
	}
	div.h-group div.intro {
		grid-column: 2;
		grid-row: 1/span 3;
	}

	div.recipe {
		display: grid;
		grid-template-columns: 1fr 2fr;
		gap: 4rem;
		padding: 2rem 0;
    margin: 2rem 0;
		border: none;
		border-top: 6px dotted var(--high-extra-light);
		border-bottom: 6px dotted var(--high-extra-light);
		border-radius: 0;
	}
	div.ingredients {
		margin-bottom: 0;
	}
  div.ingredients li {line-height: 1.45;}

	div.recipe.simple {
		grid-template-columns: 1fr 1fr;
	}
	div.recipe.alone {
		display: block;
	}
	div.e-instructions {
		padding-left: 4.5rem;
	}
}

@media screen and (min-width: 1300px) {
	main {
		grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
	}

	article.h-recipe > div.content {
		max-width: 100%;
		display: grid;
		grid-template-columns: 1.5fr 1fr;
		align-items: center;
		gap: 4rem;
	}
	article.h-recipe > div.content table {
		margin-bottom: 0;
	}
}